<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      margin-bottom: var(--wp--preset--spacing--40);
      margin-top: var(--wp--preset--spacing--40);
    "
  >

    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Posts</h1>
    <!-- /wp:heading -->

  </div>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"bts/posts-3-col"} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
