<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      margin-bottom: var(--wp--preset--spacing--40);
      margin-top: var(--wp--preset--spacing--40);
    "
  >

    <!-- wp:post-featured-image {"isLink":true} /-->

    <!-- wp:post-title {"level":1,"isLink":true} /-->

    <!-- wp:template-part {"slug":"post-meta"} /-->

  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
